.maps{
  height: 550px;
  width: 800px;
  border: 3px solid black;
  border-radius: 15px;
  background-image: url("h.gif");
  background-size: cover;

  background-repeat: no-repeat;

}
.flex{
  display: flex;
  justify-content: center;
}
body{
  font-family: 'Metal Mania', cursive;

}
